main > section {
    height: auto;
    width: 100%;
    position: relative;
    clear: both;
}

main > section > header {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    display: block;
}

main > section > div {
    clear: both;
    height: 10px;
    width: 100%;
}

main > section > section {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

main > section > section > div {
    width: 20%;
    float: left;
    border-left: 1px dotted #e6e6e6;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

main > section > section > div:last-child {
    border-right: 1px dotted #e6e6e6;
}

.itemBar > section > div > img {
    margin-top: 10px;
    width: 100%;
}

.itemBar > section > div > div {
    height: 25px;
    width: 100%;
    line-height: 25px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.itemBar > section > div > div > p {
    width: 30%;
    float: left;
    font-size: 15px;
}

.itemBar > section > div > div > img {
    margin-top: 2%;
    height: 80%;
    float: right;
}

.itemBar > section > div > p {
    height: 15px;
    line-height: 15px;
}

.itemBar > section > div > p:nth-child(even) {
    font-size: 11px;
}

.itemBar > section > div > p:nth-child(odd) {
    font-size: 8px;
}

#recentView {
    background-color: #e0f2f0;
}

#recentView > section > div {
    background-color: #e0f2f0;
}

#recentView > section > div {
    border-color: #addcd7;
}

#store img {
    width: 100%;
    margin-top: 10px;
}

#store p {
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

main > section > section > div:hover {
    background-color: #2fa599;
    color: white;
}

#recentView > section > div:hover {
    background-color: #2fa599;
}

#advertisement .carousel-indicators li {
    background-color: white;
    opacity: 0.6;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
}

#advertisement .carousel-indicators li.active {
    background-color: #2fa599;
    border-color: #2fa599;
    opacity: 1;
}

#advertisement .carousel-inner .item img {
    height: 500px;
    width: 100%;
}

#top5 > header > div {
    position: absolute;
    right: 8px;
    top: 3px;
    z-index: 2;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-weight: normal;
    color: #2fa599;
    background-color: #fff;
}

#top5 > header > div > p {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 30px;
    box-sizing: border-box;
    z-index: 2;
    background: url(../img/common/pageIcon/pullDown.png) no-repeat 160px;
    background-size: 25px 25px;
    cursor: pointer;
}

#top5 > header > div > ul {
    position: absolute;
    top: 17px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #2fa599;
    border: 1px solid #000;
    border-top: 0;
    z-index: 1;
    display: none;
}

#top5 > header > div > ul > li {
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

#top5 > header > div > ul > li:hover {
    background-color: #2fa599;
    color: #fff;
}

@media (max-width: 990px) {
    main > section > section > div {
        width: 25%;
    }

    #advertisement {
        height: 300px;
    }

    #advertisement .carousel-inner .item img {
        height: 300px;
    }
}

@media (max-width: 650px) {
    main > section > section > div {
        width: 33%;
    }
}

@media (max-width: 501px) {
    main > section > section > div {
        width: 50%;
    }
}

@media (max-width: 400px) {
    #advertisement {
         height: 200px;
     }

    #advertisement .carousel-inner .item img {
        height: 200px;
    }

    #top5 > header > div {
        width: 150px;
        font-size: 15px;
    }

    #top5 > header > div > p {
        padding-left: 20px;
        background: url(../img/common/pageIcon/pullDown.png) no-repeat 110px;
        background-size: 25px 25px;
    }

    #top5 > header > div > ul > li {
        padding-left: 10px;
    }
}

