#advertisement .carousel-indicators li {
    background-color: white;
    opacity: 0.6;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
}

#advertisement .carousel-indicators li.active {
    background-color: #2fa599;
    border-color: #2fa599;
    opacity: 1;
}

#advertisement .carousel-inner .item img {
    height: 500px;
    width: 100%;
}

main {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

main > section {
    width: 75%;
    height: auto;
    padding: 0 24px;
    box-sizing: border-box;
    float: left;
}

main header {
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 40px;
    box-sizing: border-box;
}

main > section > div {
    width: 100%;
    display: block;
}

main > section > div > div {
    width: 33%;
    border-right: 1px dotted #e6e6e6;
    float: left;
}

main > section > div > div:nth-child(3n) {
    border: 0;
}

main > section > footer {
    clear: both;
    text-align: center;
}

.pagination li a {
    color: #2fa599;
}

.pagination li.active a {
    background-color: #2fa599;
    border-color: #2fa599;
    color: #FFF;
}

.pagination li.active a:hover {
    background-color: #2fa599;
    color: #FFF;
}

.product {
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.product:hover {
    background-color: #2fa599;
    color: white;
}

.product > img {
    width: 100%;
}

.product > div {
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    display: block;
}

.product > div > p {
    width: 30%;
    font-size: 15px;
    font-weight: bold;
    float: left;
}

.product > div > img {
    height: 100%;
    float: right;
}

.product > p {
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    clear: both;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

main > aside {
    position: relative;
    width: 25%;
    height: auto;
    background-color: #e0f2f0;
    float: left;
    padding: 0 8px;
    box-sizing: border-box;
    display: block;
}

main > aside > div {
    width: 100%;
    float: left;
}

aside > header > div {
     position: absolute;
     right: 8px;
     top: 3px;
     z-index: 2;
     width: 180px;
     height: 30px;
     line-height: 30px;
     font-size: 15px;
     font-weight: normal;
     color: #2fa599;
     background-color: #fff;
     border-radius: 15px;
 }

aside > header > div > p {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 2;
    background: url(../img/common/pageIcon/pullDown.png) no-repeat 140px;
    background-size: 25px 25px;
    cursor: pointer;
}

aside > header > div > ul {
    position: absolute;
    top: 17px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #2fa599;
    border: 1px solid #000;
    border-top: 0;
    z-index: 1;
    display: none;
}

aside > header > div > ul > li {
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

aside > header > div > ul > li:hover {
    background-color: #2fa599;
    color: #fff;
}

#pagination li a {
    cursor: pointer;
}

#pagination li a.now-button {
    background-color: #2fa599;
    color: #FFF;
    cursor: auto;
}

#pagination li a.unactive-button {
    background-color: #FFF;
    color: #AAA;
    cursor: auto;
}

@media (max-width: 1200px) {
    aside > header > div {
        margin-top: 5px;
        width: 150px;
    }

    aside > header > div > p {
        background: url(../img/common/pageIcon/pullDown.png) no-repeat 115px;
        background-size: 25px 25px;
    }
}

@media (max-width: 992px) {
    main section {
        width: 100%;
        padding: 0;
    }

    main aside {
        width: 100%;
    }

    main > section > div > div {
        width: 33%;
        border: 0;
    }

    main aside > div > div {
        width: 33%;
        float: left;
    }

    #advertisement {
        height: 300px;
    }

    #advertisement .carousel-inner .item img {
        height: 300px;
    }
}

@media (max-width: 540px) {
    #advertisement {
        height: 200px;
    }

    #advertisement .carousel-inner .item img {
        height: 200px;
    }

    main > section > div > div {
        width: 50%;
        border: 0;
    }

    main aside > div > div {
        width: 50%;
        float: left;
    }

    .product > div > img {
        height: 80%;
    }

    aside > header > div {
        margin-top: 5px;
        width: 150px;
    }
}